html {
  background: green
}
/* 1. Define the custom font */
@font-face {
  font-family: 'BBH Bartle';
  src: url('./fonts/BBH-Bartle.woff2') format('woff2');
}

/* 2. Apply it to your page */
body {
  font-family: 'BBH Bartle', sans-serif;
}
